@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
:root {
  --primary-color: #e61f26;
  --navbar-color: #292929;
  --background-color: #0f0f0f;
  /* #e7e8e7; */
  --button-select-color: #b12025;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: var(--background-color);
}

.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--navbar-color);
  height: 50px;
}

.nav_button {
  display: block;
  color: antiquewhite;
  /* text-align: center; */
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 0px;
}

.nav_title {
  display: block;
  color: antiquewhite;
  /* text-align: center; */
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 0;
  /* margin-right: 250px; */
  background-color: var(--primary-color);
}

li {
  float: left;
}

li a:hover {
  background-color: var(--button-select-color);
}

.container {
  /* flex-wrap: wrap; */
  max-width: 80vw;
  margin: 0 auto;
}

.movies_lists_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-bottom: 2.5vw; */
}

.section-element {
  margin-top: 15px;
}

.best_movie_box {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-element h2 {
  margin-bottom: 22.5px;
  color: antiquewhite;
  background: var(--navbar-color);
}

.best_movie_box h2 {
  background: var(--button-select-color);
}

.photoCaroussel {
  margin-top: 7.5px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
}

.movie-poster {
  margin: 8.5px;
  overflow: hidden;
  position: relative;
}

.movie-poster:hover {
  transform: scale(1.05, 1.05);
  transition: 0.55s;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--button-select-color);

  overflow: hidden;
  width: 0%;
  height: 1.25%;
  transition: 0.63s ease;
  bottom: 4.5px;
}

.movie-poster:hover .overlay {
  width: 100%;
}

#best-movie .movie-poster {
  margin-left: 600px;
}

.left-arrow {
}

.right-arrow {
  /* position: absolute; */
}
.arrow {
  color: antiquewhite;
  margin: 0px 100px;
  font-size: 50px;
  cursor: pointer;
}

.caroussel-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow:hover {
  transform: scale(1.5, 1.5);
  transition: 0.05s;
  color: var(--button-select-color);
}
